.container {
  margin: 0 auto;
  width: 100%;
}
.square{
  float: left;
  width: 25%;
  height: 10%;
  padding-bottom: 30%;
  margin: 15px;
  border-radius: 25px;
  text-align: center;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;

}
body {
   background: #232323; 
  margin: 0;
}
h1 {
  color:white;
  background:  linear-gradient(70deg,rgb(197, 94, 94), green, rgb(32, 134, 182));
  text-align: center;
  margin: 0;
  text-transform: uppercase; 
  height: 140px;
  font-size: 25px;
  padding-top: 8px;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;

}

#ColorDisplay {
   text-transform: uppercase; 
  display: block;
  font-size: 73px;
}
.botones {
  background-color: white;
  height: 60px;
  margin: 0;
  text-align: center;
}

.botones button {
  background-color: transparent;
  height: 60px;
  border: none;
  color: #4682b4;
  font-weight: bold;
  font-size: 16px;
  
 }
.botones button:hover {
  background-color: #4682b4;
  color:black;
  height: 60px;
}

#message {
    color:black;
    font-size: medium;
    display: inline-block;
    width: 20%;
}
@media (min-width: 600px) {
  .container{
    width: 50%;
  }
}